@import '../../Styles/mixins';
.homeWrapper {
  @include flex-container($alignment: null, $spacing: null);

  &__favorites {
    @include flex-container($direction: row, $alignment: null, $spacing: null);
    border-bottom: 1px solid #e5e2ed;

    p {
      margin-right: 16px;
      @include authBodyText($color: #111111, $lineHeight: 22px);

      &:hover {
        border-bottom: 1.5px solid #7557d3;
      }
    }
  }

  &__contents {
    @include flex-container($direction: row, $alignment: null, $spacing: null);

    &__posts {
      margin-top: 32px;
      width: 100%;
      margin-right: 24px;
    }

    &__divider {
      border-left: 1px solid #e5e2ed;
      margin-right: 28px;
    }

    
  }
}
