@import '../../Styles/mixins';
.homeWrapper {
  @include flex-container($alignment: null, $spacing: null);

  &__favorites {
    @include flex-container($direction: row, $alignment: null, $spacing: null);
    border-bottom: 1px solid #e5e2ed;

    p {
      margin-right: 16px;
      @include authBodyText($color: #111111, $lineHeight: 22px);
    }
  }

  &__contents {
    @include flex-container($direction: row, $alignment: null, $spacing: null);
    height: 100vh;

    &__posts {
      margin-top: 32px;
      width: 100%;
    }

    &__divider {
      border-left: 1px solid #e5e2ed;
    }

    &__publications {
      width: 40%;
      margin-top: 24px;
      margin-left: 28px;

      h1 {
        @include authBodyText(
          $color: #111111,
          $lineHeight: 27px,
          $fontSize: 20px,
          $fontWeight: 700
        );
        margin-bottom: 26.5px;
      }

      h2 {
        @include authBodyText(
          $color: #111111,
          $lineHeight: 22px,
          $fontSize: 16px,
          $fontWeight: 700
        );
        margin-top: 10.5px;
        margin-bottom: 22.5px;
      }
      &__list {
        @include linksContainer($color: #7557d3);
        margin-top: 24px;
        margin-bottom: 32px;
      }

      &__faq {
        background: #f4f2fb;
        border-radius: 8px;
        @include flex-container($direction: row, $alignment: null, $spacing: space-between);
        padding: 16px 16px;
        width: 80%;
        margin-bottom: 24px;

        h1 {
          @include authBodyText(
            $color: #111111,
            $lineHeight: 22px,
            $fontSize: 16px,
            $fontWeight: 700
          );
          margin-bottom: 24px;
        }

        p {
          @include authBodyText(
            $color: #757575,
            $lineHeight: 22px,
            $fontSize: 16px,
            $fontWeight: 500
          );
          margin-bottom: 8px;
        }
        button {
          margin-top: 32px;
        }
      }

      &__recommended {
        h2 {
          @include authBodyText(
            $color: #111111,
            $lineHeight: 22px,
            $fontSize: 16px,
            $fontWeight: 700
          );
        }
        &__buttons {
          @include flex-container($direction: row, $alignment: null, $spacing: null);
          margin-bottom: 18px;

          button {
            margin-right: 16px;
          }
        }
      }
    }
  }
}
