@import '../../Styles/mixins';

article {
  @include flex-container($alignment: null);
  width: 100%;
}
.postsContainer {
  @include flex-container($direction: row, $alignment: null, $spacing: null);

  &__coverImage {
    width: 193px;
    height: 144px;
    border-radius: 10px;

    img {
      width: 100%;
    }
  }
  &__postContent {
    @include flex-container($alignment: null);
    margin-left: 24px;
    width: 75%;

    &__postTitle {
      @include flex-container($alignment: null, $direction: row, $spacing: space-between);

      h1 {
        @include authBodyText(
          $fontWeight: 700,
          $fontSize: 20px,
          $lineHeight: 27px,
          $color: #111111
        );
        margin-bottom: 8px;
      }

      p {
        @include authBodyText(
          $fontWeight: 400,
          $fontSize: 14px,
          $lineHeight: 19px,
          $color: #57497c
        );
      }
    }

    &__postSubTitle {
      @include authBodyText(
        $fontWeight: 400,
        $fontSize: 16px,
        $fontStyle: italic,
        $lineHeight: 22px,
        $color: #57497c
      );
      margin-bottom: 24px;
    }

    &__post {
      @include authBodyText($fontWeight: 400, $fontSize: 16px, $lineHeight: 22px, $color: #111111);
      text-align: justify;
      width: 75%;
      margin-bottom: 19px;
    }
    &__data {
      @include flex-container($alignment: center, $direction: row, $spacing: space-between);
      margin-bottom: 35px;

      &__userData {
        @include flex-container($alignment: center, $direction: row, $spacing: null);
        p {
          @include authBodyText(
            $fontWeight: 500,
            $fontSize: 14px,
            $lineHeight: 19px,
            $color: #57497c
          );
        }
      }

      &__options {
        @include flex-container($direction: row);

        &__save {
          width: 16px;
          height: 19.5px;
          margin-right: 19px;

          img {
            width: 100%;
          }
        }

        &__more {
          width: 2.5px;
          height: 15px;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.divider {
  border-top: 1px solid #e5e2ed;
  width: 99%;
}
