@import '../../Styles/mixins';
@import '../../Styles/global';

.formWrap {
  @include formbody;
  padding: (0px 515px);
  height: 100vh;
  h1 {
    @include authTitleText;
  }

  &__description {
    @include authBodyText;
    margin-bottom: 64px;
  }

  form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;

    button {
      margin-top: 20px;
      margin-bottom: 14px;
    }
  }

  &__linksContainer {
    @include linksContainer;

    &__links {
      @include links;
    }
  }
}
