.rdw-editor-toolbar {
  display: flex;
  padding: 8px 8px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  flex-wrap: wrap;
  background-color: #6e6e6d;
  position: absolute;
  z-index: 10;
  left: 28.4%;
  box-sizing: border-box;
}

.rdw-option-wrapper {
  border: none;
  padding: 5px;
  min-width: 25px;
  height: 20px;
  border-radius: 2px;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: capitalize;
}

.rdw-option-wrapper:hover {
  box-shadow: 1px 1px 0px #bfbdbd;
}

.rdw-option-wrapper:active {
  box-shadow: 1px 1px 0px #bfbdbd inset;
}

.rdw-option-active {
  box-shadow: 1px 1px 0px #bfbdbd inset;
}

.rdw-option-disabled {
  opacity: 0.3;
  cursor: default;
}

.rdw-dropdown-carettoopen {
  display: none;
}

.rdw-dropdown-carettoclose {
  display: none;
}

.rdw-dropdown-optionwrapper {
  list-style: none;
  background-color: white;
}

.rdw-dropdown-wrapper {
  cursor: pointer;
  border: 1px solid #f1f1f1;
  margin-left: 9.5px;
  border-radius: 2px;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-transform: capitalize;
}

.rdw-dropdown-wrapper:focus {
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
}

.rdw-dropdown-wrapper:hover {
  box-shadow: 1px 1px 0px #bfbdbd;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
}

.rdw-dropdown-wrapper:active {
  box-shadow: 1px 1px 0px #bfbdbd inset;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
}

.rdw-editor-main blockquote {
  border-left: 5px solid #f1f1f1;
  padding-left: 5px;
}

.rdw-suggestion-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: auto;
  z-index: 100;
}

.rdw-dropdown-wrapper {
  cursor: pointer;
  height: 27px;
  padding: 0 2px;
  border-radius: 2px;
  overflow: scroll;
  text-transform: capitalize;
}

.rdw-fontsize-wrapper {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 6px;
  flex-wrap: wrap;
}

.rdw-fontsize-dropdown {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  height: 27px;
  justify-content: center;
}

.rdw-fontsize-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rdw-emoji-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  position: relative;
  flex-wrap: wrap;
}

.rdw-emoji-modal {
  overflow: auto;
  position: absolute;
  top: 35px;
  left: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 235px;
  height: 180px;
  border: 1px solid #f1f1f1;
  padding: 15px;
  border-radius: 2px;
  z-index: 100;
  background: white;
  box-shadow: 3px 3px 5px #bfbdbd;
}

.rdw-fontfamily-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  flex-wrap: wrap;
  width: 30px;
}

.rdw-fontfamily-dropdown {
  width: 30px;
  padding: 4px 4px;
}

.rdw-fontfamily-placeholder {
  white-space: nowrap;
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rdw-fontfamily-optionwrapper {
  width: 30px;
  padding: 4px 4px;
}

.rdw-inline-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  flex-wrap: wrap;
}

.rdw-inline-dropdown {
  width: 50px;
}

.rdw-inline-dropdownoption {
  height: 40px;
  display: flex;
  justify-content: center;
}

.rdw-block-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 6px;
}

.rdw-right-aligned-block {
  text-align: right;
  overflow-wrap: break-word !important;
  overflow-x: hidden;
}

.rdw-left-aligned-block {
  text-align: left !important;
  overflow-wrap: break-word !important;
}

.rdw-center-aligned-block {
  text-align: center !important;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.rdw-justify-aligned-block {
  text-align: justify !important;
  overflow-wrap: break-word !important;
  overflow-x: hidden;
}

.rdw-right-aligned-block > div {
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.rdw-left-aligned-block > div {
  overflow-wrap: break-word !important;
}

.rdw-center-aligned-block > div {
  overflow-wrap: break-word !important;
}

.rdw-justify-aligned-block > div {
  overflow-wrap: break-word !important;
}

.rdw-list-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  flex-wrap: wrap;
}

.public-DraftEditorPlaceholder-inner {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(166, 164, 164);
}

.icons {
  width: 30px;
  height: 30px;
}
.icons img {
  width: 100%;
}

.code {
  background-color: grey;
}

.italic {
  width: 30px;
  height: 30px;
}

.DraftEditor-root {
  border-radius: 10px;
  height: 65vh;
  margin-bottom: 50px;
  width: 59vw;
  padding: 15px 25px 0 25px;
  overflow-y: scroll;
  position: relative;
  border: 1px solid #cbc4de;
}
.DraftEditor-root :focus {
  outline-color: #7557d3 !important;
  border: #7557d3;
}

.DraftEditor-editorContainer {
  width: 100%;
  height: 100%;
}

.divider {
  width: 2px;
  height: 24px;
  margin-right: 16.5px;
}
.divider img {
  width: 100%;
}

.rdw-text-align-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  flex-wrap: wrap;
}/*# sourceMappingURL=Editor.css.map */