@import '../../Styles/mixins';

.formWrap {
  @include flex-container;
  padding: (82px 515px);
  h1 {
    @include authBodyText(
      $fontWeight: 700,
      $fontSize: 24px,
      $lineHeight: 32px,
      $color: $text--color--primary,
      $marginBottom: 16px
    );
  }

  &__description {
    @include authBodyText;
    margin-bottom: 64px;
    text-align: center;
    width: 50%;
  }

  form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  &__linksContainer {
    @include linksContainer;
  }
}
