@import "../../Styles/mixins";

.formWrap{
    @include flex-container;
    padding: (82px 515px);
    h1{
        @include authTitleText;
    }

    &__description{
        @include authBodyText;
    }

    form{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        
    }

    &__linksContainer{
        @include linksContainer;
    }
}