@import '../../Styles/mixins';

.formWrap {
  @include flex-container;
  height: 100vh;
  justify-content: center;
  h1 {
    @include authBodyText(
      $fontWeight: 700,
      $fontSize: 24px,
      $lineHeight: 32px,
      $color: $text--color--primary,
      $marginBottom: 16px
    );
  }

  &__description {
    @include authBodyText($marginBottom: 40px);
    text-align: center;
    width: 50%;
  }

  form {
    width: 29%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
  }

  &__linksContainer {
    @include linksContainer;
    margin-top: 12px;
  }
}

@media screen and (max-width: 720px) {
  .formWrap {
    padding: 2px 40px;
    h1 {
      @include authBodyText(
        $fontWeight: 700,
        $fontSize: 23px,
        $lineHeight: 32px,
        $color: $text--color--primary,
        $marginBottom: 16px
      );
    }
  

    &__description{
      text-align:center;
      width: 100%;
    }
    form {
      width: 100%;
    }
    &__linksContainer {
      font-size: 12px;
      text-align: center;
      width: 100%;
      &__links {
        font-size: 12px;
      }
    }
  }
}

