@import '../../Styles/mixins';
@import '../../Styles/global';

.formWrap {
  @include flex-container;
  height: 80vh;

  h1 {
    @include authBodyText($fontWeight: 700, $fontSize:24px, $lineHeight:32px, $color:$text--color--primary, $marginBottom:16px);
  }

  &__description {
    @include authBodyText;
    // margin-bottom: px;
  }

  form {
    width: 29%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;

    button {
      margin-top: 20px;
      margin-bottom: 14px;
    }
  }

  &__linksContainer {
    @include linksContainer;

    &__links {
      @include links;
    }
  }
}
