@import "../../Styles/mixins";

.formWrap{
    @include formbody;
    padding: (82px 515px);
    h1{
        @include authTitleText;
    }

    &__description{
        @include authBodyText;
        text-align: center;
    }

    form{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        
    }

}