@import '../../Styles/mixins';

.formWrap {
  @include formbody;
  padding: (0px 515px);
  height: 100vh;
  justify-content: center;
  h1 {
    @include authTitleText;
  }

  &__description {
    @include authBodyText;
    margin-bottom: 64px;
    text-align: center;
  }

  form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;

    button {
      margin-top: 16px;
    }
  }
}
