@import "../../Styles/mixins";

.formWrap{
    @include formbody;
 
    h1{
        @include authTitleText;
    }

    &__description{
        @include authBodyText;
    }

    &__logo{
        width: 94px;
        height: 94px;

        img{
            width: 100%;
        }
    }
}