@import '../../Styles/mixins';
.successWrap {
  button {
    margin-top: 40px;
  }
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  position: fixed;
}

.display {
  display: none;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modalContent {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 30px 30px;
  border-radius: 10px;
  max-width: 300px;
  min-width: 300px;
  z-index: 20;

  h2 {
    text-align: center;
    @include authBodyText(
      $fontWeight: 700,
      $fontSize: 20px,
      $lineHeight: 32px,
      $color: $text--color--primary,
      $marginBottom: 16px
    );
  }
  &__buttons {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}
