@import './variables';

@mixin authBodyText($fontStyle: normal, $fontWeight:400, $fontSize:16px, $lineHeight: 24px, $color:$text--color--secondary, $marginBottom:null) {
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
  margin-bottom: $marginBottom;
}

@mixin flex-container($direction: column, $spacing:center, $alignment: center ) {
  display: flex;
  flex-direction: $direction;
  justify-content: $spacing;
  align-items: $alignment;
}


@mixin linksContainer {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $text--color--secondary;
}

@mixin links {
  a {
    text-decoration: none;
  }
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #7557d3;
}
