@import '../../Styles/mixins';
.wrapper {
  @include flex-container($direction: row, $alignment: center);

  &__icon {
    width: 20px;
    margin-right:12px;
    img {
      width: 100%;
    }
  }

  &__description {
    @include authBodyText($lineHeight: 22px, $color: #57497C);
  }
}
