@import '../../Styles/mixins';
@import '../../Styles/variables';

.createPostContainer {
  @include flex-container($alignment: null);
  padding: 40px;
  padding-top: 124px;
  width: 100%;
  &__icons {
    @include flex-container($direction: row, $spacing: null);
  }
  &__post {
    @include flex-container;
    width: 100%;
    input {
      padding: 20px 20px;
      border: 1px solid #cbc4de;
      border-radius: 10px;
      @include authBodyText($fontWeight: 700);
      margin-bottom: 24px;
      margin-top: 30px;
      width: 70%;
    }
  }
  &__body {
    @include flex-container;
    width: 100%;

    &__image {
      width: 59vw;
      height: 413px;
      margin-bottom: 40px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}
.buttonsContainer {
  @include flex-container($direction: row, $spacing: space-between);
  width: 70%;
  &__buttonsLeft {
    display: flex;

    button {
      margin-right: 30px;
    }
  }
}
.buttonsDisplay {
  display: none;
}
