@import '../../Styles/variables';

.btn {
  border: 1px solid $button--color--primary;
  color: $button--color--primary;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__primary {
    background-color: white;
    border: 1px solid $button--color--primary;
    color: $button--color--primary;
  }

  &__secondary {
    background-color: $button--color--primary;
    color: white;
    border: none;
  }

  &__lightPink {
    background-color: #ebe4ff;
    color: #7557D3;
  }

  &__lg {
    padding: 12px 80px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  &__md {
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  &__sm{
    padding: 13px 52px;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
  &__smaller{
    border: 1px solid #7557D3;
    border-radius: 16px;
    padding: 8px 8px;
  }
}

:disabled {
  background-color: #e6e6e6;
  pointer-events: none;
}
.img {
  width: 20px;
  height: 20px;
  margin-right: 8px;

  img {
    width: 100%;
  }
}

.hideImage {
  display: none;
}
