@import '../../Styles/mixins';
.userData {
  @include flex-container($direction: row, $spacing: null);
  cursor: pointer;
  &__profilePicture {
    margin-right: 8px;

    img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }

  &__userName {
    @include authBodyText($fontWeight: 500, $fontSize: 14px, $lineHeight: 19px, $color: #57497c);
  }
}

@media screen and (max-width:720px){
  .userData{
    &__profilePicture {
      margin-right: 8px;
    }
  }
}