@import "../../Styles/mixins";

.formWrap{
    @include formbody;
    padding: (0px 515px);
    height: 100vh;
    h1{
        @include authTitleText;
    }

    &__description{
        @include authBodyText;
    }

    form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        

       .name{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 24px;
        }
    }

    &__linksContainer{
        @include linksContainer;

        &__links{
            @include links;
        }
    }
}