@import '../../Styles/mixins';

.signUpForm {
  margin-top: 0px;
}

.formWrap {
  @include flex-container;
  padding-top: 45px;

  h1 {
    @include authBodyText($fontWeight: 700, $fontSize:24px, $lineHeight:32px, $color:$text--color--primary, $marginBottom:16px);
  }

  &__description {
    @include authBodyText;
    margin-bottom: 40px;
  }

  form {
    width: 32%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;

    .name {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
    }

    button {
      margin-top: 16px;
      margin-bottom: 14px;
    }
  }

  &__linksContainer {
    @include linksContainer;

    &__links {
      @include links;
    }
  }
}
