@import '../../Styles/mixins';
.modalWrapper {
  @include flex-container($spacing: null, $alignment: center);
  width: 202px;
  height: 197px;
  background: #ffffff;
  border-radius: 10px;
  align-items: center;
  padding: 24px;
  z-index: 10;
  position: absolute;
  top:20px;
  right: 31%;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;

  div {
    @include authBodyText($fontSize: 14px, $fontWeight: 400, $color: #111111, $lineHeight: 19px);
    @include flex-container($spacing: null, $alignment: null);
    height: 35px;
    padding: 8px;
    width: 100%;
    :hover {
      background: #f4f2fb;
      border-radius: 4px;
    }
  }
}
.display {
  display: none;
}
