@import '../../Styles/mixins';
.navBar {
  @include flex-container($direction: row, $spacing: space-between);
  position: absolute;
  background-color: white;
  width: 100%;
  padding: 24px 150px;
  top: 90px;

  &__userProfile {
    @include flex-container($direction: row, $spacing: space-evenly);

    div {
      margin-right: 24px;
    }
  }
}

@media screen and (max-width: 720px) {
  .navBar {
    padding: 16px 20px;
    @include flex-container($direction: row, $spacing: space-between);

    &__userProfile {
      div {
        margin-right: 10px;
      }
      &__image {
        width: 30px;
        img {
          width: 100%;
        }
      }
      &__notification {
        width: 25px;
        img {
          width: 100%;
        }
      }
    }
    button {
      div {
        margin-right: 2px;
      }
    }
  }
}
