@import '../../Styles/mixins';
.navBar {
  @include flex-container($direction: row, $spacing: space-between);
  position: fixed;
  background-color: white;
  border-top: 1px solid #ccbef7;
  width: 100%;
  padding: 24px 120px;
  top: 79px;
  z-index: 100;

  &__userProfile {
    @include flex-container($direction: row, $spacing: space-evenly);

    div {
      margin-right: 24px;
    }
  }
}
