@import '../../Styles/mixins';
.navBar {
  @include flex-container($direction: row, $spacing: space-between);
  background-color: white;
  width: 100%;
  padding: 24px 150px;
  padding-top: 109px;

  &__userProfile {
    @include flex-container($direction: row, $spacing: space-evenly);

    div {
      margin-right: 24px;
    }

    &__image {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
      h2 {
        width: 50px;
        @include authBodyText($fontSize:16px, $fontWeight:500);
        height: 50px;
        background-color: rgb(239, 244, 244);
        border-radius: 50%;
        @include flex-container($direction: row, $spacing: center);
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .navBar {
    padding: 16px 20px;
    padding-top: 90px;
    @include flex-container($direction: row, $spacing: space-between);

    &__userProfile {
      div {
        margin-right: 10px;
      }
      &__image {
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      &__notification {
        width: 25px;
        img {
          width: 100%;
        }
      }
    }
    button {
      div {
        margin-right: 2px;
      }
    }
  }
}
