@import '../../Styles/mixins';

.formWrap {
  @include flex-container;
  height: 70vh;
  justify-content: center;
  h1 {
    @include authBodyText($fontWeight: 700, $fontSize:24px, $lineHeight:32px, $color:$text--color--primary, $marginBottom:16px);
  }

  &__description {
    @include authBodyText;
    margin-bottom: 64px;
    text-align: center;
    width: 50%;
  }

  form {
    width: 29%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;

    button {
      margin-top: 16px;
    }
  }
}
