body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* padding-top: 40px; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#errors {
  color: rgb(220, 56, 56);
  font-size: 14px;
  margin-top: 1px;
  position: absolute;
}

input:focus {
  outline-color: #7557d3 !important;
  border: #7557d3;
}
