@import '../Styles/mixins';
.main {
  &__page {
    padding: 56px 150px;
    padding-top: 236px;
    // @include flex-container;
  }
}

@media screen and (max-width: 720px) {
  .main {
    &__page {
      padding: 8px 32px;
      padding-top: 185px;
    }
  }
}
