@import '../Styles/mixins';
.main {
  @include flex-container($spacing: space-between, $alignment: null);
  height: 100vh;
  &__page {
    padding: 56px 150px;
    flex-grow: 1;
    // min-height: calc(100vh - 64px);
    padding-top: 40px;
  }
}

@media screen and (max-width: 720px) {
  .main {
    &__page {
      padding: 8px 30px;
      flex-grow: 1;
    }
  }
}
